:root{
    --btn-clr: rgb(58, 143, 255);
    --border-clr:rgba(100, 100, 100, 0.318);
}

#txt-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

textarea{
    resize: none;
    width: 350px;
    height: 250px;
    outline: none;
    border: transparent;
    padding:5px 10px;
    font-size: 14px;
    font-weight: 500;

}


#output-area{
    width: 350px;
    border: 1px solid var(--border-clr);
    height: 250px;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    margin: 10px;
    text-overflow: clip;
}


#txt-area{
    margin: 10px;
}

#txt-box #inp-box,#out-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label{
    margin-bottom: 10px;
    font-weight: 600;
}

#btn{
    text-align: center;
}

#parent{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: auto;
    margin-top: 20vh;
}

#out-box{
    margin-bottom: 70px;
}

#inp-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content{
    display: inline-block;
    height: 100%;
    width: 100%;
    word-wrap: normal;
    text-align: justify;
    overflow-y: scroll;
    padding:5px 10px;

}

@media screen and (max-width:450px) {
    #txt-box{
        flex-direction: column;
    }
    
    #inp-box,#out-box{
        width: 90vw;
    }

    #parent{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

}

@media screen and (max-width:750px) {
    #txt-box{
        flex-direction: column;
    }
    
    #inp-box,#out-box{
        width: 90vw;
    }

    #parent{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

}